<a style="display:none" href="https://github.com/ThemeParkFansUK/themeparkfansuk.github.io/blob/main/{{ page.inputPath }}">Edit this page</a>

<!-- Copyright: Theme Park Fans UK 2024 - ARR-->

<nav style="
    position: fixed;
    bottom: 0;
    left: 0;
">
    <div class="NavContainer">

        <div class="LogoContainer">
            
            <span style=" margin-left: 10px; ">© Theme Park Fans UK 2024</span>
        </div>

        <div class="Spacer"></div>

        


    </div>
</nav>
