<a style="display:none" href="https://github.com/ThemeParkFansUK/themeparkfansuk.github.io/blob/main/{{ page.inputPath }}">Edit this page</a>

<!-- Copyright: Theme Park Fans UK 2024 - ARR-->

<nav style="
    position: fixed;
    bottom: 0;
    left: 0;
">
    <div class="NavContainer">

        <div class="LogoContainer">
            
            <span style=" margin-left: 10px; ">© Theme Park Fans UK 2024</span>
        </div>

        <div class="Spacer"></div>
<div class="NavLinks">
            <a id="" class="NavLink" style="--NavHighlight: hsla(306, 100%, 24%, 80%);" href="/"><i class="fa-brands fa-tiktok"></i></a>
            
            
            
<a id="" class="NavLink NavIcon" style="--NavHighlight: hsl(33.47deg 100% 24% / 80%);" href="https://www.instagram.com/themeparkfansuk/"><i class="fa-brands fa-instagram"></i></a>
<a id="" class="NavLink NavIcon" style="--NavHighlight: hsl(0deg 100% 24% / 80%);" href="https://www.youtube.com/@ThemeParkFansUK"><i class="fa-brands fa-youtube"></i></a>
<a id="" class="NavLink NavIcon" style="--NavHighlight: hsl(149.28deg 100% 24% / 80%);" href="https://www.threads.net/@themeparkfansuk"><i class="fa-brands fa-threads"></i></a>
<a id="" class="NavLink NavIcon" style="--NavHighlight: hsl(212.22deg 100% 24% / 80%);" href="https://www.facebook.com/groups/198820360610548"><i class="fa-brands fa-facebook"></i></a>
<a id="" class="NavLink NavIcon" style="--NavHighlight: hsl(174.45deg 100% 24% / 80%);" href="https://discord.gg/ZtdVUWEcP4"><i class="fa-brands fa-discord"></i></a>

</div>

        


    </div>
</nav>
