<meta name="title" content="{% if title %} {{ title }} - Theme Park Fans UK {% else %} Theme Park Fans UK {% endif %}">
<title>{% if title %} {{ title }} - Theme Park Fans UK {% else %} Theme Park Fans UK {% endif %}</title>
<meta name="keywords" content="ThemeParkFansUK">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta name="language" content="English">
<meta name="description" content="Are you a fan of roller-coasters or like to find out future developments come and JOIN US and LOOK DOWN for information!" />
<link rel="icon" href="/assets/img/tpfukIcon.png">

<meta property="og:type" content="website" />
<meta property="og:title" content="{% if title %} {{ title }}{% else %} Theme Park Fans UK {% endif %}" />
<meta property="og:description" content="{{ summary | default("Are you a fan of roller-coasters or like to find out future developments come and JOIN US and LOOK DOWN for information!") }}" />
<meta property="og:image" content="{{img}}" />

<meta property="twitter:card" content="summary_large_image" />
<meta property="twitter:title" content="{% if title %} {{ title }}{% else %} Theme Park Fans UK {% endif %}" />
<meta property="twitter:description" content="" />
<meta name="theme-color" content="#007b7b">

<meta property="og:site_name" content="Theme Park Fans UK"><meta property="og:url" content="{{url}}">

<meta name="google-site-verification" content="LjVdcMFjvaCj36lbxi807cIi8Z-27U7HM8CPjBG7EFQ" />
