---
templateClass: tmpl-home
---

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {% include "components/seo.njk" %}

    <link rel="stylesheet" href="/assets/css/global.css" />
    <link rel="stylesheet" href="/assets/css/blog.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
        integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />

</head>

<body>
    <!-- Header -->
    {% include "components/header.njk" %}
    <!-- Header -->

    <div class="Content">

        <div class="Blog_pageimg">
            <img src="{{pageimg}}">
            <span>{{tag}}</span>
        </div>




        <div class="BlogContent">

            <div class="PageInfo">
                <h1 class="PageInfo_Title">{{title}}</h1>
                <hr>
                <p class="PageInfo_Author">{{author}}</p>
                <p class="PageInfo_Rank PageInfo_Rank_{{rank}}">{{rank}}</p>
                <p class="PageInfo_Date"><i class="fa-solid fa-clock"></i> {{blogdate}}</p>
            </div>

            {{ content | safe }}

        </div>

    </div>

    <!-- Footer -->
    {% include "components/footer.njk" %}
    <!-- Footer -->

</body>

</html>