---
templateClass: tmpl-home
---

<!DOCTYPE html>
<html lang="en">
<head>

{% include "components/seo.njk" %}

<link rel="stylesheet" href="/assets/css/global.css" />

</head>

{% include "components/header.njk" %}

    <div class="Content">

{{ content | safe }}

    </div>

    <footer>
    {% include "components/footer.njk" %}
    </footer>
</body>

</html>